{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-6 offset-3">
				<h1 class="text-center my-3">Updating user: {{user.username}}</h1>
				{% if error == True %}
					<p class="text-danger">Unable to Locate User</p>
				{% endif %}

				<form action="{% url 'todolist:change_password' %}" method="post">
				{% csrf_token %}

				<div class="mb-3">
					<label for="first_name">First Name: </label>
					<input class="form-control" id="first_name" type="text" name="first_name" value="{{first_name}}" maxlength="20" required>
				</div>

				<div class="mb-3">
					<label for="last_name">Last Name: </label>
					<input class="form-control" id="last_name" type="text" name="last_name" value="{{last_name}}" maxlength="20" required>
				</div>

				<div class="mb-3">
					<label for="password">Password: </label>
					<input class="form-control" id="password" type="password" name="password" value="{{password}}" maxlength="20" required>
				</div>			

				<div class="text-center">
					<input class="btn btn-success" type="submit" value="Update">
				</div>
			
			</form>

			</div>
		</div>
	</div>

{% endblock %}