<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'todolist:index' %}">To Do App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="justify-content-end navbar-nav " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'todolist:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'todolist:add_task' %}">Add Task</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" href="{% url 'todolist:add_event' %}">Add Event</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" href="{% url 'todolist:change_password' %}">Update Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'todolist:login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'todolist:register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'todolist:logout' %}">Logout</a>
        </li>
        
      </ul>

    </div>
  </div>
</nav>