{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
	{% if groceryitem_list and user.is_anonymous == False %}
		<h1 class="text-center my-3">Welcome {{user.first_name}} {{user.last_name}}</h1>
		<div class="container">
			<div class="row">
				<h3 class="text-center mb-3">My Tasks</h3>
					<ul class="list-group col-lg-2 offset-lg-5 text-center">
						{% for groceryitem in groceryitem_list %}
						<li class="list-group-item">
							<a href="{% url 'grocerylist:viewgroceryitem' groceryitem.id %}" 
							class="text-decoration-none">
							{{groceryitem.item_name}}</a>
						</li>
					{% endfor %}
					</ul>
			</div>
		</div>	

	{% elif user.is_anonymous == True %}
		<h1 class="text-center my-3" >You are not authorized to access this page.</h1>
		<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}"> here </a></p>
		

	{% else %}
		<p class="text-center">No items have been added.</p>

	{% endif %}

{% endblock %}