{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
	{% if user.is_anonymous == False %}
		<h1 class="text-center my-3">Welcome {{user.first_name}} {{user.last_name}}!</h1>
		<div class="container">
			<div class="row">
				<h3 class="text-center mb-4">My Tasks</h3>
					{% if todoitem_list %}
					<ul class="list-group col-lg-2 offset-lg-5 text-center">
						{% for todoitem in todoitem_list %}
						<li class="list-group-item">
							<a href="{% url 'todolist:viewtodoitem' todoitem.id %}" 
							class="text-decoration-none">
							{{todoitem.task_name}}</a>
						</li>
						{% endfor %}
					</ul>
					{% else %}
						<p class="text-center">No Tasks have been created.</p>
					{% endif %}
			</div>
		</div>	

		<h3 class="text-center mb-3 mt-4">My Events</h3>
		{% if eventitem_list %}
		<div class="container">
			<div class="row">
					<ul class="list-group col-lg-2 offset-lg-5 text-center">
						{% for eventitem in eventitem_list %}
						<li class="list-group-item">
							<a href="{% url 'todolist:viewevent_item' eventitem.id %}" 
							class="text-decoration-none">
							{{eventitem.event_name}}
						</li>
						{% endfor %}
					</ul>
			</div>
		</div>	

		{% else %}
		<p class="text-center">No Events have been created.</p>
		{% endif %}

	{% else %}
		<h1 class="text-center my-3" >You are not authorized to access this page.</h1>
		<p class="text-center">Kindly login <a href="{% url 'todolist:login' %}"> here </a></p>
	{% endif %}

{% endblock %}